<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="logPath">logs</Property> <!-- 日志目录 -->
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level (%F:%L) [%M] - %msg%n%throwable</Property>

    </Properties>

    <!-- Appenders 定义 -->
    <Appenders>
        <!-- 控制台日志 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}" />
        </Console>

        <!-- Core 日志 -->
        <RollingFile name="CoreInfoAppender" fileName="${logPath}/core-info.log" filePattern="${logPath}/core-info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
<!--            <Filters>-->
<!--                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="CoreErrorAppender" fileName="${logPath}/core-error.log" filePattern="${logPath}/core-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
<!--            <Filters>-->
<!--                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="CoreDebugAppender" fileName="${logPath}/core-debug.log" filePattern="${logPath}/core-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <!-- Game 日志 -->
        <RollingFile name="GameInfoAppender" fileName="${logPath}/game-info.log" filePattern="${logPath}/game-info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
<!--            <Filters>-->
<!--                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="GameErrorAppender" fileName="${logPath}/game-error.log" filePattern="${logPath}/game-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="GameDebugAppender" fileName="${logPath}/game-debug.log" filePattern="${logPath}/game-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
<!--            <Filters>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <!-- Mysql 日志 -->
        <RollingFile name="MysqlInfoAppender" fileName="${logPath}/mysql-info.log" filePattern="${logPath}/mysql-info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
<!--            <Filters>-->
<!--                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="MysqlErrorAppender" fileName="${logPath}/mysql-error.log" filePattern="${logPath}/mysql-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
<!--            <Filters>-->
<!--                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="MysqlDebugAppender" fileName="${logPath}/mysql-debug.log" filePattern="${logPath}/mysql-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}" />
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- Loggers 配置 -->
    <Loggers>
        <!-- Core 日志 -->
        <Logger name="com.z.core" level="debug" additivity="true">
            <AppenderRef ref="CoreDebugAppender" level="debug" />
            <AppenderRef ref="CoreInfoAppender" level="info" />
            <AppenderRef ref="CoreErrorAppender" level="error" />
        </Logger>

        <!-- Game 日志 -->
        <Logger name="com.z.game" level="debug" additivity="true">
            <AppenderRef ref="GameDebugAppender" level="debug" />
            <AppenderRef ref="GameInfoAppender" level="info" />
            <AppenderRef ref="GameErrorAppender" level="error" />
        </Logger>

        <!-- Mysql 日志 -->
        <Logger name="com.z.mysql" level="debug" additivity="true">
            <AppenderRef ref="MysqlDebugAppender" level="debug" />
            <AppenderRef ref="MysqlInfoAppender" level="info" />
            <AppenderRef ref="MysqlErrorAppender" level="error" />
        </Logger>

        <!-- Root Logger 配置 -->
        <Root level="debug">
            <AppenderRef ref="Console" />
<!--            <AppenderRef ref="File" />
-->
        </Root>
    </Loggers>
</Configuration>
